<ion-view view-title="Busca tus películas" style="background:#eee;">

	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<form ng-submit="vm.Buscar()">
		<div class="bar bar-subheader item-input-inset">
			<div class="item-input-wrapper">
				<a class="icon ion-ios-search placeholder-icon" ng-click="vm.Buscar()"></a>
				<input id="in_buscar_pelicula" type="search" placeholder="Buscar" ng-model="vm.input.pelicula" ionic-input-clearable>
			</div>
		</div>
	</form>

	<ion-content class="has-subheader">


		<div class="card" ng-repeat="item in vm.pagination.results">

			<div class="row no-padding">
				<div class="col col-33 no-padding">
					<img class="full-image poster-height no-padding" ng-src="{{item.poster_path?'https://image.tmdb.org/t/p/w185_and_h278_bestv2'+item.poster_path:'img/pop-corn.jpg'}}">
				</div>
				<div class="col">
					<h5>{{item.title}}</h5>
					<p>Fecha de estreno: {{item.release_date | date: 'dd/MM/yyyy'}}</p>
					<p>{{item.overview | limitTo:50}}{{item.overview.length > 50 ? '...' : ''}}</p>
				</div>
			</div>

		</div>

		<button ng-click="vm.loadMore()" ng-if="vm.pagination.page<vm.pagination.total_pages"> Cargar más</button>


	</ion-content>

</ion-view>